<div class="contact contact-banner">
  <div class="information">
    <h2 class="light">
      CONTACT DETAILS
    </h2>
  </div>

  <div class="actions">
    <span class="icon" {{action 'toggleEdit'}}>{{fa-icon 'edit'}}</span>
  </div>
</div>

<div class="contact-details">
  <div class="contact-section">

    <div class="photo-wrapper">
      <img src="{{contact.picture}}" alt="">
    </div>

    <div class="contact-information">
      <h2 class="name">
        {{#if isEditing}}
          {{input value=contact.firstName placeholder="First name"}}
          {{input value=contact.lastName placeholder="Last name"}}
        {{else}}
          {{contact.firstName}} {{contact.lastName}}
        {{/if}}
      </h2>
      <p class="title-company">
        {{#if isEditing}}
          {{input value=contact.jobTitle placeholder="Job Title"}}
          {{input value=contact.company placeholder="Company name"}}
        {{else}}
          {{contact.jobTitle}} at {{contact.company}}
        {{/if}}
      </p>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="section-title">Information</h3>
        <div class="contact-items">
          <p class="phone">
            <span class="icon">{{fa-icon 'phone'}}  </span>
            {{#if isEditing}}
              {{input value=contact.phone placeholder="Phone"}}
            {{else}}
              {{contact.phone}}
            {{/if}}
          </p>
          <p class="email">
            <span class="icon">{{fa-icon 'envelope-o'}}</span>
            {{#if isEditing}}
              {{input value=contact.email placeholder="Email"}}
            {{else}}
              {{contact.email}}
            {{/if}}
          </p>
          <p class="birthday">
            <span class="icon">{{fa-icon 'birthday-cake'}}</span>
            {{#if isEditing}}
              {{input value=contact.birthday placeholder="Birthday"}}
            {{else}}
              {{contact.birthday}}
            {{/if}}
          </p>
        </div>  
        {{#if isEditing}}
          <span class="icon">{{fa-icon 'ok'}}</span>
          <input class="btn submit-button" type="submit" value="Save" {{action 'updateContact'}}>
        {{/if}}
      </div>
    </div>
  </div>
</div>
