<div class="search-wrapper">
  {{input value=value key-up=(action 'handleFilterEntry') placeholder="Search Users"}}
</div>
<ul class="contacts-list">
  <li class="contact selectable {{if (eq contact currentContact) 'active'}}" {{action 'handleAddNewContactToggle'}}>
    <div class="photo-wrapper">
      <img src="http://downloadicons.net/sites/default/files/plus-icon-27951.png" alt="">
    </div>
    <div class="information">
      <h2 class="name">Add a new contact</h2>
    </div>
  </li>
  {{#each filteredContacts as |contact|}}
    <li class="contact contact-item selectable {{if (eq contact currentContact) 'active'}}" {{action 'handleSelectContact' contact}}>
      <div class="photo-wrapper">
        <img src="{{contact.picture}}" alt="">
      </div>
      <div class="information">
        <h2 class="name">{{contact.firstName}} {{contact.lastName}}</h2>
        <p class="title-company">
          {{contact.jobTitle}} at {{contact.company}}
        </p>
      </div>
    </li>
  {{/each}}
</ul>

