<div class="contact contact-banner">
  <div class="information">
    <h2 class="light">
      NEW CONTACT
    </h2>
  </div>
</div>

<div class="contact-details">
  <div class="contact-section">
    {{#if isSaved}}
      <div class="success-message">
        <img src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/128/tick_blue.png">
        <h2>Saved</h2>
      </div>
    {{else}}
      <div class="card">
        <div class="card-content">
          <h3 class="section-title">Information</h3>
          <div class="contact-items">
            <p class="picture-url">
              <span class="icon">{{fa-icon 'picture-o'}}  </span>
              {{input value=picture placeholder="Avatar URL"}}
            </p>
            <p class="firstname">
              <span class="icon">{{fa-icon 'user'}}  </span>
              {{input value=firstName placeholder="First name"}}
            </p>
            <p class="lastname">
              <span class="icon">{{fa-icon 'user'}}  </span>
              {{input value=lastName placeholder="Last name"}}
            </p>
            <p class="job">
              <span class="icon">{{fa-icon 'industry'}}  </span>
              {{input value=jobTitle placeholder="Job Title"}}
            </p>
            <p class="company">
              <span class="icon">{{fa-icon 'building'}}  </span>
              {{input value=company placeholder="Company name"}}
            </p>
            <p class="phone">
              <span class="icon">{{fa-icon 'phone'}}  </span>
              {{input value=phone placeholder="Phone Number"}}
            </p>
            <p class="email">
              <span class="icon">{{fa-icon 'envelope-o'}}</span>
              {{input value=email placeholder="Email Address"}}
            </p>
            <p class="birthday">
              <span class="icon">{{fa-icon 'birthday-cake'}}</span>
              {{input value=birthday placeholder="Birthday"}}
            </p>
          </div>
          <span class="icon">{{fa-icon 'ok'}}</span>
          <input class="btn submit-button" type="submit" value="Save" {{action 'saveContact'}}>
        </div>
      </div>
    {{/if}}
  </div>
</div>
