@import './bower_components/nib'
global-reset()
reset-html5()

lineColor = #EAEFF3
standardBorder = 1px solid lineColor
backgroundColor = #F7FAFC
accentBlue = #4F90D3
fontBlue = #2E7CCE
fontColor = #778795

body {
  font-family: 'Open Sans', sans-serif
  color: fontColor
  height: 100%
  font-size: 24px

  & > div.ember-view {
    fixed: top 0 left 0 right 0 bottom 0
    display: flex
  }
}

@media (max-width: 1600px) {
  body {
    font-size: 22px
  }
}

@media (max-width: 1400px) {
  body {
    font-size: 20px
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 18px
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 16px
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14px
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px
  }
}

a {
  color: fontBlue
}

p {
  font-size: 0.75em

  &.light-blue {
    color: lighten(fontBlue, 70%)
  }
}

input[type="text"] {
  font-size: 0.75em
  font-family: 'Open Sans', sans-serif
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
  color: fontBlue

  &.light {
    color: white
  }
}

.instructions {
  position: absolute
  opacity: 0
}

.contacts-wrapper {
  border: standardBorder
  display: flex
  flex-grow: 1
  margin: 1em
  border-radius: 3px
  position: relative
  background-color: #f7f7f7
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

  .contact-detail {
    flex: 5 1 auto
  }

  .contact-search {
    border-right: standardBorder
    background: backgroundColor
    flex: 1 1 auto
    display: flex
    flex-direction: column
    min-width: 40%;
    width: 40%;

    .search-wrapper {
      flex: 0 0 auto
      border-bottom: standardBorder
      display: flex
      background: white

      input {
        flex-grow: 1
        border: 0px !important
        outline: none
        margin: 0
        padding: 1em
      }
    }

    .contacts-list {
      flex: 1 1 auto
      overflow: scroll
    }
  }
}

.contact-details-wrapper{
  width: 75%
  overflow: scroll
}

.contact {
  display: flex
  align-items: center
  position: relative
  border-bottom: standardBorder

  .photo-wrapper {
    margin: 0.5em
    height: 2em
    width: 2em
    border-radius: 2em
    overflow: hidden
    position: relative

    img {
      max-width: 100%
      max-height: 100%
    }
  }

  .information {
    margin: 0.5em

    h2 {
      margin-bottom: 0.4em
    }

    p {
      font-size: 0.7em
    }
  }

  &.contact-banner {
    background: accentBlue
    color: white
    height: 3rem
    padding: 16px

    .information {
      width: 70%
    }

    .actions {
      position: absolute
      right: 10px
      font-size: 25px
      cursor: pointer
    }
  }

  &.selectable {
    cursor: pointer
    user-select: none

    &:before {
      position: absolute
      left: 0
      top: 0
      bottom: 0
      width: 3px
      background: rgba(0,0,0,0)
      content: ' '
    }

    &:hover:before {
      background: lighten(accentBlue, 50%)
    }

    &.active:before {
      background: accentBlue
    }
  }
}

.contact-section {
  .success-message {
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
  }
}

.contact-details {
  .photo-wrapper {
    padding: 10px 0
    text-align: center

    img {
      height: 150px
      border-radius: 50%
    }
  }
  
  .contact-information{
    width: 100%;
    text-align: center
    font-size: 1.2em
    .name{
      padding: 10px 0
    }

    input {
      width: 70%;
    }
  }

  .section-title {
    font-size: 1.2em
    margin-bottom: 0.5em
  }

  .contact-items {
    font-size: 1em

    p {
      font-size: 0.9em
      padding: 0.75em 0.5em
      vertical-align: center
    }

    span.icon {
      padding-left: 0
      margin-right: 15px
      font-size: 1.5em
      color: accentBlue
    }
    
    input{
      width: 70%
    }
  }
}


.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  position: relative
  margin: 30px 20px;
  background-color: #fff
  transition: box-shadow .25s
  border-radius: 2px
}
.card .card-content {
  padding: 20px
  border-radius: 0 0 2px 2
}

.btn{
  text-decoration: none;
  color: #fff;
  background-color: #4f90d3;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}