<div class="contacts-wrapper">
  {{contact-search 
    contacts=model.contacts 
    currentContact=model.currentContact 
    selectContact=(action 'selectContact') 
    filter=(action 'filterContacts')
    toggleAddingContact=(action 'toggleAddingContact')
  }}

  {{#liquid-bind model.currentContact class='toLeft-demo contact-details-wrapper' as |currentContact|}}
    {{#if isAddingContact}}
      {{contact-form}}
    {{else}}
      {{contact-detail contact=currentContact}}
    {{/if}}
  {{/liquid-bind}}
</div>
